/* X-Small devices (portrait phones, less than 576px) */

:root {
  --clr-green: #2afd2e;
  --clr-purple: #7304ff;
  --clr-yellow: #fcfd5b;
  --clr-red: #fe0065;
}
.flank {
  color: var(--clr-green);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
}

.visible {
  opacity: 1;
  visibility: visible;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.text-clr-green {
  color: var(--clr-green);
}
.text-clr-yellow {
  color: var(--clr-yellow);
}
.text-clr-red {
  color: var(--clr-red);
}
body {
  font-family: Barlow;
  /* overflow-y: hidden; */
}
@media (max-width: 414px) {
  header {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 25px;
    background: linear-gradient(113.97deg, #7304ff 30.44%, rgba(255, 255, 255, 0.17) 69.5%),
      linear-gradient(180deg, #2afd2e 22.64%, #7304ff 100%);
  }
  .flank {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .patreon {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
  }

  header > h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
    font-size: 100px;

    color: #2afd2e;
  }
  header h2 {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 227px;

    font-weight: 600;
    font-size: 30px;
    text-align: center;

    color: #2afd2e;
  }
  header .header_arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -50%);
  }
  header .header_arrow::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-left: 8px solid #2afd2e;
    border-bottom: 8px solid #2afd2e;
    transform: rotate(-45deg);
  }
  .about {
    transition-property: all;
    transition-duration: 300ms;
    padding-top: 87px;
    padding-left: 25px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(
        360deg,
        rgba(255, 255, 255, 0) 40.67%,
        rgba(255, 255, 255, 0.2) 61.59%
      ),
      linear-gradient(170.66deg, rgba(42, 253, 46, 0.45) 24.51%, rgba(42, 253, 46, 0.155) 55.06%),
      #fbff4a;
  }
  .about_header {
    font-weight: bold;
    font-size: 60px;
    color: #7304ff;
  }
  .about_body pre {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: #7304ff;
  }
  .about_flank_big {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
    font-size: 100px;
    color: #7304ff !important;
    animation: makeFlankBig 300ms ease-in-out forwards;
  }
  .about_flank_big_animated {
    animation: makeFlankSmall 300ms ease-in-out forwards;
  }

  @keyframes makeFlankSmall {
    to {
      top: 30px;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #7304ff;
    }
  }
  @keyframes makeFlankBig {
    to {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-weight: bold;
      font-size: 100px;
      color: #2afd2e;
    }
  }

  .second_layer {
    height: 100vh;
    padding-left: 40px;
    padding-top: 87px;
    background: linear-gradient(
        346.29deg,
        rgba(254, 0, 101, 0.2) 11.66%,
        rgba(255, 255, 255, 0.112) 37.63%,
        rgba(255, 255, 255, 0.106) 95.28%
      ),
      linear-gradient(
        11.28deg,
        rgba(115, 4, 255, 0.5) 23.66%,
        rgba(101, 37, 225, 0.5) 51.04%,
        rgba(115, 4, 255, 0.5) 72.07%
      ),
      #7304ff;
  }
  .second_layer > p {
    display: inline;
    position: relative;
    z-index: 10;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
  .p1 > span {
    display: block;
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 230px;
    width: 60px;
    height: 60px;
    background: rgb(240, 111, 111);
  }
  .p5 {
    display: block !important;
    margin-top: 50px;
  }
}
