:root {
  --black: #222222;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

.margin25 {
  margin-bottom: 25px !important;
}

.text-end {
  text-align: right;
}
.midnight {
  padding-right: 150px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Barlow', sans-serif;
}
header {
  height: 100vh;
}
nav {
  display: flex;
  justify-content: flex-end;
}

.patreon {
  display: block;
  font-size: 1.5rem;
  margin: 15px;
  color: var(--black);
  text-decoration: none;
}

.flank-text {
  text-align: center;
  font-size: 26vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.icon {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
  animation: bounce 1000ms ease-in-out infinite;
}
@keyframes bounce {
  0% {
    top: 70%;
  }
  50% {
    top: 72%;
  }
  100% {
    top: 70%;
  }
}
.arrow {
  position: absolute;
  top: 25px;
  width: 113%;
  height: 20px;
  background-color: var(--black);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  animation: arrow 700ms linear infinite;
  transform: rotate(90deg);
  cursor: default;
  border-radius: 5px;
}

.arrow::after,
.arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 20px;
  right: -8px;
  background-color: var(--black);
  border-radius: 5px;
  right: -8px;
  background-color: var(--black);
  border-radius: 5px;
  right: -8px;
  background-color: var(--black);
  border-radius: 5px;
  right: -8px;
  background-color: var(--black);
  border-radius: 5px;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.sentence-container {
  width: 80%;
  padding-left: 100px;
  padding-top: 20px;
  /* box-sizing: fit-content; */
}
.sentence-container > p {
  font-size: 4rem;
  padding: 10px;
  /* background: #f0f0f0; */
  border-radius: 20px;
}

.sentence-container span {
  display: inline-block;
}
.flank-for {
  margin-top: 150px !important;
}

.join_us {
  width: 300px;
  height: 300px;
  margin: 50px auto;
}
.join_us_btn {
  padding: 15px;
  text-align: center;
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  background: #252525;
  border-radius: 10px;
}
footer {
  margin-top: 200px;
}
footer > div {
  text-align: center;
  padding: 20px;
  font-size: 1.6rem;
}

/* .u-rise {
  display: inline-block;
  transform: translateY(30%);
  opacity: 0;
}
.u-rise.risen {
  animation: rise 0.3s cubic-bezier(0.87, 0, 0.04, 1) 1 forwards;
}

@keyframes rise {
  0% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */
